/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* general */
:root {
    --color-primary: #FFFFFF;
    --color-header-bg: #FF6900;
    --color-footer-bg: #1A1A1A;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/* header */
header{
    background-color: var(--color-header-bg);
}

.card{
    position: relative;
}

img{
    display: block;
    width: 100%;
}

.logo{
    width: 10%;
}

.heart{
    background-color: var(--color-primary);
    width: 44px;
    text-align: center;
    padding: 5px;
    font-size: 30px;
    position: absolute;
    top: 1%;
    right: 0px;

}

.budges{
    width: 50px;
    text-align: center;
    padding: 2px;
}

.bdgs-red{
    background-color: red;
    color: var(--color-primary);
}

.bdgs-green{
    background-color: green;
    color: var(--color-primary);
    width: 100px;
}

.bdgs-position{
    position: absolute;
    top: 85%;
    left: 0px;
}

/* main */

/* footer */

/* utility */

.flex{
    display: flex;
    flex-wrap: wrap;
}

.gap-card{
    gap: 5px;
}

.space-btwn{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

/* text utility */

.text-white{
    color: var(--color-primary);
}

.text-red{
    color: red;
}