/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* @font-face {
    font-family: HelveticaNow;
    src: url(../fonts/HelveticaNowText-Medium.otf);
} */

/* general */
:root {
    --color-primary: #FFFFFF;
    --color-header-bg: #FF6900;
    --color-footer-bg: #1A1A1A;
}

body{
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px;
}

.container-big{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px;
    padding: 50px 0px;
}

/* header */
header{
    background-color: var(--color-header-bg);
    padding: 15px 0px;
    box-shadow: 1px 1px 5px var(--color-footer-bg);
}

.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
}

.logo{
    width: 10%;
}


/* main */
section{
    position: ;
}

.card{
    position: relative;
    width: calc(100% / 3 - 20px);
    cursor: pointer;
}

.card:hover .main-img{
    display: none;
}

.card:hover .secondary-img{
    display: block;
}

img{
    display: block;
    width: 100%;
}

.secondary-img{
    display: none;
}

.heart{
    background-color: var(--color-primary);
    width: 44px;
    text-align: center;
    padding: 5px;
    font-size: 30px;
    position: absolute;
    top: 1%;
    right: 0px;
}

.heart:hover{
    color: red;
}

.budges{
    width: 50px;
    text-align: center;
    padding: 2px;
}

.bdgs-red{
    background-color: red;
    color: var(--color-primary);
}

.bdgs-green{
    background-color: green;
    color: var(--color-primary);
    width: 100px;
}

.bdgs-position{
    position: absolute;
    top: 70%;
    left: 0px;
}


.description{
    line-height: 22px;
}

.brand{
    font-size: small;
}

.price{
    font-weight: 700;
}

/* footer */

footer{
    background-color: var(--color-footer-bg);
    padding: 10px 10px 30px;
}

footer h2{
    font-size: 20px;
}



/* utility */

.flex{
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.gap{
    gap: 10px;
}

.gap-card{
    gap: 40px 20px;
}

.gap-budges{
    gap: 10px;
}

.space-btwn{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

.pdg-prova{
    padding: 10px 0px;
}
/* text utility */

.text-white{
    color: var(--color-primary);
}

.text-red{
    color: red;
}

.text-small{
    font-size: small;
}

.text-lrg{
    font-size: large;
}